///etc/polkit-1/rules.d/99-allow-mount.rules
// Allow all users to mount devices without authentication
polkit.addRule(function(action, subject) {
   if ((action.id == "org.freedesktop.udisks2.filesystem-mount")) {
      return polkit.Result.YES;
   }
});

polkit.addRule(function(action, subject) {
   if ((action.id == "org.freedesktop.udisks2.filesystem-mount-system")) {
      return polkit.Result.YES;
   }
});
